<!-- <div class='row'>
		<div class='col-xs-1'><input title="Min Delivery Amt" id="min_delivery_amt"></input></div>
		<div class='col-xs-1'><input title="Delivery Charges" id="delivery_charges"></input></div>
		<div class='col-xs-1'><input title="Delivery Time Non Rush Hours (In minutes)" id="non_rush"></input></div>
		<div class='col-xs-1'><input title="Delivery Time Rush hours (In minutes)" id="rush"></input>
	<button class="btn btn-success btn-sm" id="add-btn" data-polygon-id="<%= polygon_id %>"></button></div>
<!-- <div class='col-sm-3'><</div>
</div> -->
<style>
	.params{
		width:35px;
	}
</style>
<table style="width:170px;">
<tr>
	<td>
		<td><input title="Min Delivery Amt" class="params" id="min_delivery_amt"></input></td>
		<td><input title="Delivery Charges" class="params" id="delivery_charges"></input></td>
		<td><input title="Delivery Time Non Rush Hours (In minutes)" class="params" id="non_rush"></input></td>
		<td><input title="Delivery Time Rush hours (In minutes)" class="params" id="rush"></input></td>
		<td><button class="btn btn-success" title="Add Delivery Area" id="add-btn" data-polygon-id="<%= polygon_id %>"><i class="fa fa-plus"></i></button></td>
	</td>
</tr>
</table>
<!-- <table style="width:175px;">
	<tr>
			<td><input title="Min Delivery Amt" id="min_delivery_amt"></input></td>
			<td>2</td>
			<td>3</td>
			<td>4</td>
			<td><span class="glyphicon glyphicon-plus"></span></td>
	</tr>
</table> -->