<div class="row">
    <div class="col-xs-12" id="sub_listing">
      <table class="table table-hover">
        <thead>
            <tr>
            	<th class="">Form ID</th>
            	<th class="">Name</th>
            </tr>
        </thead>
        <tbody class="searchable">
            <% _.each(restaurants, function(restaurant, i) { %>                                     
            	<tr>
            		<td><%= restaurant.form_id %></td>
            		<td><%= restaurant.name %></td>
            	</tr>
            <% }); %>                                                 
        </tbody>
    </table>             
</div>

<div>
    <button class="btn btn-success btn-sm" id="proceed" style="margin-left: 86%;">Proceed</button>
</div>