<div style='width:200px;' class='text-center row'>
	<div class='col-sm-12'>
		<div class='row'>
			<div class='col-sm-12'>
				<h6><%= polygon_name %> </h6>
			</div>
		</div>
		<!-- <div class='row'>
			<div class='col-sm-12 add-single-locality-div'>
 				<button class='btn btn-warning btn-sm add-single-locality-btn' data-delivery-id="<%= polygon_id %>">Add Delivery Area</button>
			</div>
		</div> -->
	</div>	
</div>