<!-- Modal -->
<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Disable of <span id="modal_item_name"></span>?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to disable this?
        <br />
        Please add, how long do you want it to be disabled?
        </p>
        <br />

        <div class="modal_item_disable">
          <form id="modal_item_disabled">
            <select id="modal_item_time_select" class="form-control" style="display: inline-block; width: 20%;">
              <option value="minutes">Minutes</option>
              <option value="hours">Hours</option>
              <option value="days">Days</option>
              <option value="weeks">Weeks</option>
              <option value="months">Months</option>
              <option value="forever">Forever</option>
            </select>
          <input id="modal_item_int_val" class="form-control" style="display: inline-block; width: 20%;" />
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button id="modal_item_save_changes" type="button" class="btn btn-primary">Yes</button>
        <button id="modal_item_cancel_disable" type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
