<div>
    <div class="panel">
      <div class="panel-body">
      <section id="alerts"></section>
        <form accept-charset="UTF-8" class="form-horizontal" id="update_status_form" method="post">  
          <input type="hidden" value="<%= restaurant_id %>" name="id" >
          <div class="form-group">
            <label for="status_change" class="col-md-4 control-label">Change Status to: </label>
            <div class="col-md-8">
              <select name="status_change" class="form-inline-element input-sm" id="status_change">
                <option value=null> No Action </option>                
              </select>
              <p class="help-block text-info">Will immediately change the status </p>
            </div>
          </div>          
        
        <div class="well scheduler">
            <div class="panel-heading" style="background-color:#FFFFFF">
                <h4 class="panel-title">
                    <span class="label label-warning label-sm pull-right"> Optional </span>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <i class="fa fa-calendar"></i> Schedule an action
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" style="height: auto;">
                <div class="panel-body">                    
                    <div class="form-group">
                      <label class="col-sm-4 control-label col-lg-4" for="automatic"> Automatic?</label>
                      <div class="col-lg-6">
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" name="automatic" checked>
                                  <p class="text-muted"> (Unchecked indicates a Manual Update!) </p>
                              </label>
                          </div> 
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="new_status" class="col-md-4 control-label">Future Status: </label>
                      <div class="col-md-8">
                        <select name="new_status" class="form-inline-element input-sm" id="new_status">
                          <option value=null> No Action </option>
                          <option value="2">ACTIVE</option>
                          <option value="3">INACTIVE</option>
                        </select>                        
                      </div>
                    </div>  

                    <div class="form-group">
                      <label class="control-label col-md-4">Scheduled Date-Time:</label>
                      <div class="col-md-6">
                        <div class="input-group input-sm">
                          <span class="input-group-addon input-sm">on</span>
                          <input type="text" class="form-control input-sm schedule_date" name="schedule_date" id="schedule_date" placeholder="date" value="">
                          <span class="input-group-addon input-sm">at</span>
                          <input type="text" class="form-control input-sm schedule_time" name="schedule_time" id="schedule_time" placeholder="time" value="">
                        </div>                        
                      </div>
                    </div>                  
                    
                    <div class="form-group">
                      <label class="col-sm-4 control-label col-lg-4" for="keep_notifying"></label>
                      <div class="col-lg-6">
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" name="keep_notifying" checked>
                                  Keep notifying me until an action is taken
                              </label>
                          </div> 
                      </div>
                    </div>
                    
                </div>
            </div>
        </div> 
        <div class="form-group">
            <label class="col-md-4 control-label">* Comment</label>
            <div class="col-md-6">
                <input type="text" class="form-control input-sm" name="comment" required autocomplete="off" >
            </div>
        </div>
        <div class="form-group" id="js-update-status-reason-form-group">
            <label class="col-md-4 control-label">* Reason</label>
            <div class="col-md-6">
                <select class="form-control input-sm" name="reason_id" id="closing_reasons">
                  <option value="nil">None</option>
                <% $.each(window.collections.reasons,function(index,closingReasonItem){ %>
                   <option value="<%=closingReasonItem.id%>"><%=closingReasonItem.reason%></option>
                <% }); %>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-4 col-lg-6">
                <button class="btn btn-success btn-sm" id="update_status" data-override="false">Update</button>
                <a class="btn btn-danger btn-sm" href="#restaurants">Close</a>
            </div>
        </div>
    </form>
    </div>
    </div>                           
  </div>