<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel">
      <div class="panel-body">
        <img src="images/401.png" class="img-responsive">
        <h1 class="text-center"> You shall not pass! </h1>
      </div>
    </div>
  </div>
</div>