<div class="row">
  <!-- form component -->
  <div class="col-xs-offset-2 col-xs-8">
    <div class="panel">
      <div class="panel-body">
				<h1 class="to_center"> Absolute Position Edit </h1>
				<hr/>
				<div class= "col-xs-2"> Enter Locality</div>
        <div class=" col-xs-4 hidden-xs">
         <input type="text" class="form-control input-sm typeahead" id="locality" placeholder="locality" autocomplete="off" data-toggle="tooltip" data-placement="top" title="Locality" value="">
        </div>
        <div id = "ranked_rest_list">
        </div>
			</div>
		</div>
	</div>
</div>