
<div class="row"> 
  <div class="col-xs-12 ">
    <div class="panel">
      <div class="panel-body">              
        <div class="col-sm-6 col-md-7 col-lg-8">
            <div class="input-group">
                <span class="input-group-addon btn-primary btn-sm"></span>
                <input type="text" id="form_ids" class="form-control input-sm" placeholder="Enter From ids" title="Should contain hypen (-) , Will be something like MA-213">
            </div>
        </div>
        <div class="col-sm-3 col-md-1 col-lg-1 ">
            <button class="btn btn-success btn-sm" id="submit_forms"> Submit</a>
        </div>
        <div class="col-sm-3 col-md-4 col-lg-3 hidden" id="no_of_restaurant">
          Number of Restaurants found: <span></span>
        </div>
      </div>
    </div>
  </div>                                
</div>

<div class="row">  

  <div class="col-sm-12" id="list_restaurants"></div>
  <div class="col-sm-6"  id="bulk_update_form"></div>

</div> 




