<div class="row">
  <div class="col-md-2 tile" onclick="window.location.hash='restaurants';">
    <div class="panel">
      <span class="label label-primary pull-right">Data Entry</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-terques"><i class="fa fa-cutlery"></i></span>
            <h4 class="tile-title">Restaurants</h4>
            <small>Create, Edit & Manage Restaurants</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2 tile" onclick="window.location.href='/central/order_panel/index.html#/';">
    <div class="panel">
      <!-- <span class="label label-success pull-left">Beta</span> -->
      <span class="label label-warning pull-right">Order Management</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel"> 
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-green"><i class="fa fa-bolt"></i></span>
            <h4 class="tile-title">Live CS Panel</h4>
            <small>New CS Order Panel</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 tile" onclick="window.location.href='/central/order_panel/index.html#order_search/';">
    <div class="panel">
      <!-- <span class="label label-success pull-left">Beta</span> -->
      <span class="label label-warning pull-right">Order Management</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-yellow"><i class="fa fa-search"></i></span>
            <h4 class="tile-title">Search</h4>
            <small>New Order Panel</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 tile" onclick="window.location.href='/central/order_panel/index.html#/all_ff_orders';">
    <div class="panel">
      <!-- <span class="label label-success pull-left">Beta</span> -->
      <span class="label label-inverse pull-right">Fulfilment</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-green"><i class="fa fa-bolt"></i></span>
            <h4 class="tile-title">Live FF Panel</h4>
            <small>New FF Order Panel</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 tile" onclick="window.location.href='/central/order_panel/index.html#delivery_boys';">
    <div class="panel">
      <!-- <span class="label label-success pull-left">Beta</span> -->
      <span class="label label-inverse pull-right">Fulfilment</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-terques"><i class="fa fa-shopping-cart"></i></span>
            <h4 class="tile-title">Fulfilment</h4>
            <small>Fulfilment Operations - Manage DBs</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 tile" onclick="window.location.href='/restaurant/order_management/statistics';">
    <div class="panel">
      <!-- <span class="label label-success pull-left">Beta</span> -->
      <span class="label label-warning pull-right">Order Management</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-red"><i class="fa fa-area-chart"></i></span>
            <h4 class="tile-title">Statistics</h4>
            <small>Statistics Panel</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-2 tile" onclick="window.location.href='/restaurant/crm/closed_timings';">
    <div class="panel">
      <span class="label label-info pull-right">Miscellaneous</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-red"><i class="fa fa-clock-o"></i></span>
            <h4 class="tile-title">Closed Timings</h4>
            <small>Closed Timings</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 tile" onclick="window.location.href='/restaurant/crm/size_lists';">
    <div class="panel">
      <span class="label label-info pull-right">Miscellaneous</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-terques"><i class="fa fa-list"></i></span>
            <h4 class="tile-title">Size Lists</h4>
            <small>Edit size Lists</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 tile" onclick="window.location.href='/restaurant/crm/cuisines';">
    <div class="panel">
      <span class="label label-info pull-right">Miscellaneous</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-yellow"><i class="fa fa-bookmark"></i></span>
            <h4 class="tile-title">Cuisines</h4>
            <small>Cuisines</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 tile" onclick="window.location.href='/restaurant/crm/banks';">
    <div class="panel">
      <span class="label label-info pull-right">Miscellaneous</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-green"><i class="fa fa-inr"></i></span>
            <h4 class="tile-title">Banks</h4>
            <small>Add Banks</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 tile" onclick="window.location.href='/restaurant/crm/offer/show';">
    <div class="panel">
      <span class="label label-info pull-right">Miscellaneous</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-red"><i class="fa fa-tags"></i></span>
            <h4 class="tile-title">Offers</h4>
            <small>Offers</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 tile" onclick="window.location.href='/location/admin/localities';">
    <div class="panel">
      <span class="label label-inverse pull-right">Localities</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-red"><i class="fa fa-map-marker"></i></span>
            <h4 class="tile-title">Localities</h4>
            <small>Locality Management</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 tile" onclick="window.location.href='/user/roles';">
    <div class="panel">
      <span class="label label-default pull-right">Admin</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-red"><i class="fa fa-key"></i></span>
            <h4 class="tile-title">Roles</h4>
            <small>Manage Roles</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 tile" onclick="window.location.href='/user/user_search';">
    <div class="panel">
      <span class="label label-default pull-right">Admin</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-green"><i class="fa fa-users"></i></span>
            <h4 class="tile-title">Users</h4>
            <small>Manage Users</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 tile" onclick="window.location.href='/central/app/index.html#settings';">
    <div class="panel">
      <span class="label label-default pull-right">Admin</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-terques"><i class="fa fa-cogs"></i></span>
            <h4 class="tile-title">Settings</h4>
            <small>Manage Settings</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 tile" onclick="window.location.href='/central/app/index.html#restaurantposition';">
    <div class="panel">
      <span class="label label-primary pull-right">Marketing</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-yellow"><i class="fa fa-sort-numeric-asc"></i></span>
            <h4 class="tile-title">Abs Position</h4>
            <small>Manage Absolute Positions</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 tile" onclick="window.location.href='/central/app/index.html#dishes';">
    <div class="panel">
      <span class="label label-primary pull-right">Data Entry</span><br/>
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas">
            <span class="dashboard-icon ico-yellow"><i class="fa fa-spoon"></i></span>
            <h4 class="tile-title">Dishes</h4>
            <small>Manage Dishes</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
