<!-- dish type tag add / edit  -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel">
      <div class="panel-body">
        <section id="alerts"></section>
        <h3 class="to_center">  <% if(dish_type_tag) { %> Update Dish Type Tag  <% } else {%> Create new Dish Type Tag  <% }%> </h3>
        <hr/>
        <form role="form" class="form-horizontal" id="dish_type_tag_form" method="POST">

          <%= partial('partials_markupText', {
            id: "type",
            placeholder: "Enter Keyword",
            label: "Keyword",
            name: "keyword",
            value: dish_type_tag ? dish_type_tag.get("keyword") : "",
            required: true
          }) %>

          <div class="form-group">
          <div class="col-xs-1 visible-xs"></div>
          <label  class="col-md-4 col-sm-4 col-xs-4 control-label label-sm">* Dish Type Tag</label>
          <div class="col-md-6 col-sm-6 col-xs-6">
          <select class="form-control col-md-6" name="tag" id="tag">
            <option value="-1" selected> --Select-- </option>                         
            <% _.each(collections.veg_types,function(i,type,j){ %>
              <option value="<%=i%>" <% if(dish_type_tag && dish_type_tag.get("tag")==i ) { %>selected<%}   %> ><%=type%></option>
            <%});%>
          </select> 
            
          </div>
          </div>
          <hr/>
          <div class="to_center">
            <% if(dish_type_tag){ %>
            <button type="Update" class="btn btn btn-success edit_promotion" id="edit_promotion_button"> Update</button>
            <% } else { %>
            <button type="Create" class="btn btn btn-success" id="create_new_button"> Create</button>
            <% } %>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>
