<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="panel">
      <div class="panel-body">
        <h3>Frequently Asked Questions</h3>
        <hr/>
        <h4>Where should I login ?</h4>
        <p class = "well">
          There is a common place to login for any panel - <a style = "text-decoration:none" href = "/central/app/index.html#login"> www.tinyowl.co.in/central/app/index.html#login</a> .<br><br>Then you can select the portal you want to open. Login using your contact number and password.
        </p>
        <br/>
        <h4>How should I get access to any panel ?</h4>
        <div class = "well">
          Firstly you should become an agent. Ask one of the following people to make you an agent -<br><br>
            <div class = "row" >
              <div class = "col-md-2"> 
                <em> 
                  <p style="color:#428bca">Aditya Kesarkar</p>
                  <p style = "color:black">Avik Dey</p>
                  <p style="color:#428bca">Manish Reddy</p>
                  <p style = "color:black">Payal Jain</p>
                  <p style="color:#428bca">Saurabh Goyal</p>
                  <p style = "color:black">Shikhar Paliwal</p>
                  <p style="color:#428bca">Shubham Bansal</p>
                </em>
              </div>

              <div class = "col-md-2">
                <em>

                  <p style="color:#428bca">Ashish Tayal</p>
                  <p style = "color:black">Harshvardhan Mandad</p>
                  <p style="color:#428bca">Nikhil Gupta</p>
                  <p style = "color:black">Rajat Jain</p>
                  <p style="color:#428bca">Shahbaz Haider</p>
                  <p style = "color:black">Shreyas Mahajan</p>
                  <p style="color:#428bca">Tanuj Khandelwal</p>
                </em>
              </div>

            </div>
            <br>

            Then shoot a mail to <a href="mailto:shikhar@tinyowl.co.in" style="text-decoration:none">shikhar@tinyowl.co.in</a> or <a href="mailto:saurabh@tinyowl.co.in" style="text-decoration:none">saurabh@tinyowl.co.in</a> mentioning your phone number (which you filled in the create agent form) and the labels of access you want (refer to the table 1 given below).
        </div>
        <br/>
        <h4>How can I create an agent ?</h4>
        <div class = "well">
          You can create an agent using the button <em> <strong>"Create new agent"</strong></em>  on the top left corner of <a style = "text-decoration:none" href = "/user/login"> www.tinyowl.co.in/user/login </a> which looks like -<br><br>
            <img src="/createbutton.png">
            <br><br>

          Ask the person who wants an access to fill the form. Then you may get the following messages<br><br>
          <em> <strong>User already exists.Password was changed and user was added as an employee :-</strong></em> Nothing to worry. Task done<br><br>
          <em> <strong>Agent Created : </strong></em>- Nothing to worry. Task done<br><br>
          On success, the agent should be able to login on <a style = "text-decoration:none" href = "/central/app/index.html#login"> www.tinyowl.co.in/central/app/index.html#login </a><br>
        </div>
        <br/>
        <h4>I am an agent with the required access but I am unable to login and getting an error ?</h4>
        <div class = "well">
          You may be getting the following errors - <br><br>
          <em> <strong>User does not exists</strong></em> - Ask someone to make you an agent.<br><br>
          <em> <strong>Incorrect Username/Password</strong></em> - Try login with your phone number and password.<br><br> 
           Still facing the same issue - Try remembering your password. <br><br>
          Not able to remember your password- Treat a tech person and get it reset.
        </div>

        <br/>
        <h4>Roles and Permissions</h4>
        <table class = "table table-bordered table-condensed table-striped">
          <thead>
            <tr>
              <th class = "col-md-2">LABEL</th>
              <th class = "col-md-1">CONCERNED DEPT.</th>
              <th>ACCESS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Android Release Manager</td>
              <td>App team</td>
              <td>Add a new android version</td>
            </tr>

            <tr>
              <td>Customer Support Agent</td>
              <td>CS</td>
              <td>Read, Update Order Panel | Order search | Read offer | Data Panel Read only</td>
            </tr>

            <tr>
              <td>Customer Support Head</td>
              <td>CS</td>
              <td>Read, Update Order Panel | Order search | Read offer | Data Panel Read only | Order Statistics | Create Agent</td>
            </tr>

            <tr>
              <td>Customer Support Lead</td>
              <td>CS</td>
              <td>ARead, Update Order Panel | Order search | Read offer | Data Panel Read only | Create Agent</td>
            </tr>



            <tr>
              <td>Data Categorization</td>
              <td>Data team</td>
              <td>Edit Restaurant Profile, Menu and Choices</td>
            </tr>

            <tr>
              <td>Data Entry</td>
              <td>Data team</td>
              <td>Edit Restaurant Profile, Menu and Choices</td>
            </tr>

            <tr>
              <td>Data Head</td>
              <td>Data team</td>
              <td>Edit Restaurant Profile, Menu and Choices | Create Agent | Restaurant Profile Protected Edit | Add/Remove Cuisines | Add Remove Banks | Add/Remove SizeList | Add/Remove Holidays | Add to Dictionary</td>
            </tr>

            <tr>
              <td>Data Read Only</td>
              <td>Any</td>
              <td>Read only on Restaurant Profile, Menu and Choices/td>
              </tr>

              <tr>
                <td>Data Verification</td>
                <td>Data team</td>
                <td>Edit Restaurant Profile, Menu and Choices</td>
              </tr>


              <tr>
                <td>Locality Creator</td>
                <td>BD</td>
                <td>Create, Update Localities</td>
              </tr>

              <tr>
                <td>Locality Head</td>
                <td>BD</td>
                <td>Create, Update Localities | Create Agent</td>
              </tr>

              <tr>
                <td>Locality read only</td>
                <td>Any</td>
                <td>Read only on Localities</td>
              </tr>

              <tr>
                <td>Marketing Offer</td>
                <td>Marketing</td>
                <td>Create, Update any offer | Create Agent</td>
              </tr>

              <tr>
                <td>Order Search</td>
                <td>Any</td>
                <td>Read only on Order</td>
              </tr>

              <tr>
                <td>Order Statistics</td>
                <td>Any</td>
                <td>Read order statistics | Download reports</td>
              </tr>

              <tr>
                <td>Outbound Panel</td>
                <td>CS, Marketing</td>
                <td>Send SMS, Email, Notification</td>
              </tr>

              <tr>
                <td>Outbound SMS Only</td>
                <td>Any</td>
                <td>Send SMS</td>
              </tr>

              <tr>
                <td>Role Manager</td>
                <td>Tech team</td>
                <td>Grant, Revoke access to any employee</td>
              </tr>

              <tr>
                <td>User Data Manager</td>
                <td>Any</td>
                <td>User Detail</td>
              </tr>
            </tbody>    
        </table>
        <br/>

        <h4>Quick Links</h4>
        <table class = "table table-bordered table-condensed table-striped">
          <thead>
            <tr>
              <th>LINK TO </th>
              <th>URL'S</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <td>
              Login
            </td>
            <td>
              <a style = "text-decoration:none" href="/central/app/index.html#login">
                http://www.tinyowl.co.in/central/app/index.html#login
              </a>
            </td>
          </tr>


            <tr>
            <td>
              Android Release
            </td>
            <td>
              <a style = "text-decoration:none" href="/user/admin/android_releases">
                http://www.tinyowl.co.in/user/admin/android_releases
              </a>
            </td>
          </tr>  <tr>
            <td>
              Live Order Panel
            </td>
            <td>
              <a style = "text-decoration:none" href="/restaurant/order_management">
                http://www.tinyowl.co.in/restaurant/order_management
              </a>
            </td>
          </tr>  <tr>
            <td>
             Order Search
            </td>
            <td>
              <a style = "text-decoration:none" href="/restaurant/order_management/search">
                http://www.tinyowl.co.in/restaurant/order_management/search
              </a>
            </td>
          </tr>  <tr>
            <td>
              Order Outbound
            </td>
            <td>
              <a style = "text-decoration:none" href="/restaurant/order_management/outbound">
                http://www.tinyowl.co.in/restaurant/order_management/outbound
              </a>
            </td>
          </tr>  <tr>
            <td>
              Order Statistics
            </td>
            <td>
              <a style = "text-decoration:none" href="/restaurant/order_management/statistics">
               http://www.tinyowl.co.in/restaurant/order_management/statistics
              </a>
            </td>
          </tr>  <tr>
            <td>
             Data Panel
            </td>
            <td>
              <a style = "text-decoration:none" href="/central/app/index.html#restaurants">
                http://www.tinyowl.co.in/central/app/index.html#restaurants
              </a>
            </td>
          </tr>

            <tr>
            <td>
              Locality Panel
            </td>
            <td>
              <a style = "text-decoration:none" href="/location/admin/localities">
                http://www.tinyowl.co.in/location/admin/localities
              </a>
            </td>
          </tr>

            <tr>
            <td>
             Offers
            </td>
            <td>
              <a style = "text-decoration:none" href="/restaurant/crm/offer/show">
                http://www.tinyowl.co.in/restaurant/crm/offer/show
              </a>
            </td>
          </tr> 

           <tr>
            <td>
              Roles
            </td>
            <td>
              <a style = "text-decoration:none" href="/user/roles">
                http://www.tinyowl.co.in/user/roles
              </a>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

 
