<!--<div class="row">
  <div class="col-sm-12">
    <div class="panel">
      <div class="panel-body">-->
        <div id="alert_restaurant_off" class="alert alert-danger alert-fix" <% if(get_status(restaurant.get('status')) != 'INACTIVE'){ %>style="display:none;"<% } %> style="position:fixed; top:80px;width:100%; z-index:10000000">
            <p style="text-align:center;">
                <%= restaurant.get('name') %> is <strong><%= get_status(restaurant.get('status')) %></strong> now.
            </p>
        </div>
      <!--</div>
    </div>
  </div>
</div>-->
<div class="row">
  <div class="col-sm-12">
    <div class="panel">
      <div class="panel-body">
        <h2><%= restaurant.get('name') %> -> Menu Items
        <div id="cache_rebuild_blk" class="col-md-4 col-md-offset-3 pull-right" style="margin-bottom: 14px;">
            <button type="button" style="font-size: 16px; margin-left: 16px; width: 60%;" class="rebuild_cache btn btn-danger btn-lg pull-right">Validate Menu</button>
            <button id="activate_restaurant" style="font-size: 16px; display: none;" type="button" class="btn btn-success btn-lg pull-right">Activate</button>
        </div>
        </h2>


        <div id="menu_categories">
        </div>

        <div id="menu_items">
        </div>

        <div id="add_item_modal">
        </div>

        <div id="edit_menu_category_modal">
        </div>
      </div>
    </div>
  </div>
</div>

