<div class="row"> 
  <div class="col-xs-12 ">
    <div class="panel">
      <div class="panel-body">              
        <div class="col-sm-6 col-md-7 col-lg-8">
            <div class="input-group">
                <span class="input-group-addon btn-primary btn-sm"></span>
                <input type="text" id="lat_long" value='19.1154315, 72.8822285' class="form-control input-sm" required='true' placeholder="Lat,Long" title="Should contain hypen (-) , Will be something like MA-213">
            </div>
        </div>



        <div class="col-sm-6 col-md-7 col-lg-8">
            <div class="input-group">
                <span class="input-group-addon btn-primary btn-sm"></span>
                <input type="text" id="distance" value='1' class="form-control input-sm" required='true' placeholder="Distance in Kms" title="Should contain hypen (-) , Will be something like MA-213">
            </div>
        </div>
        <div class="col-sm-3 col-md-1 col-lg-1 ">
            <button  type='submit' class="btn btn-success btn-sm" id="submit_forms"> Submit</a>
        </div>
      </div>
    </div>
  </div>                                
</div>
        <!-- Searched location list -->
          <div class='row'>
            <div class='col-sm-12'>
               <div class="panel">
                  <div class='panel-heading'>
                    <h6>Searched Location</h6>
                  </div>
                  <div class="panel-body">
                    <ul class='list-group searched-ul'>
                    </ul>
                  </div>
               </div>

            </div>
          </div>
        <!-- Searched location list -->

        
<div class="row">
  <div class="col-xs-12">
    <div id="map-canvas"></div>
  </div>
</div>