<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel">
      <div class="panel-body">
        <section id="alerts"></section>
        <h3 class="to_center">Create new Virtual Restaurant</h3>
        <hr/>
        <form role="form" class="form-horizontal" id="create_new" method="POST">
          <!-- render the text type for: form_id -->
          <%= partial('partials_markupText', {
            id: "name",
            placeholder: "Enter name of the Restaurant",
            label: "Name",
            name: "name",
            value: "",
            required: true
          }) %>
          <!-- render the text type for: form_id -->
          <%= partial('partials_markupText', {
            id: "form_id",
            placeholder: "Form Id",
            label: "Form Id",
            name: "form_id",
            value: "",
            required: true,
            pattern : "([a-zA-Z])*([\\-])?([a-zA-Z])+[\\-][1-9]([0-9])*",
            title : "Should contain hypen (-) , Will be something like MA-213 or MUM-MA-213"
          }) %>
          <hr/>
          <div class="to_center">
            <button type="Create" class="btn btn btn-success">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>