<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<div class="panel">
	    <div class="panel-body">
				<div class="col-md-12">
					<ul class="nav nav-pills nav-justified" role="tablist" id="myTab">
					  <li class="active" role="" id="global_settings"><a href="#global_settings_panel" role="tab" data-toggle="tab">Global Settings</a></li>
					  <li role="presentation" id="android_settings"><a href="#android_settings_panel" role="tab" data-toggle="tab">Android Settings</a></li>
					  <li role="presentation" id="ios_settings"><a href="#ios_settings_panel" role="tab" data-toggle="tab">iOS settings</a></li>
					  <li role="presentation" id="constant_variables"><a href="#constant_variables_panel" role="tab" data-toggle="tab">Constant Variables</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="global_settings_panel"></div>
						<div role="tabpanel" class="tab-pane fade in" id="android_settings_panel"></div>
						<div role="tabpanel" class="tab-pane fade in" id="ios_settings_panel"></div>
						<div role="tabpanel" class="tab-pane fade in" id="constant_variables_panel"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>